<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ getSettingTitle() }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="default">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>{{ getSettingTitle() }}</ion-title>
  </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ getLanguageTitle() }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-segment [value]="language" (ionChange)="onLanguageChange($any($event.detail.value))">
        <ion-segment-button value="en">
          <ion-label>English</ion-label>
        </ion-segment-button>
        <ion-segment-button value="zh">
          <ion-label>中文</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card-content>
  </ion-card>
</ion-content>
