<ion-header [translucent]="true">
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding ion-text-center">
    <ion-avatar style="margin: auto; width: 100px; height: 100px;">
      <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <h2>User Name</h2>
  </div>

  <ion-list inset="true">
    <ion-item>
      <ion-label position="stacked">Display Name</ion-label>
      <ion-input value="Rusher047"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>My Favorite Schools</ion-list-header>

    <ion-item *ngIf="favorites.length === 0">
      <ion-label>No favorites added yet.</ion-label>
    </ion-item>
  </ion-list>
</ion-content>