<ion-header>
  <ion-toolbar color="primary">
    <!-- This adds the "Hamburger" menu icon on the top left -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Find a School</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar
    placeholder="Type school name or district..."
    (ionInput)="handleSearch($event)"
    debounce="300"
  >
  </ion-searchbar>
</ion-toolbar>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let school of filteredSchools">
      <ion-label>
        <h2>{{ school.nameEn }}</h2>
        <p>{{ school.addressEn }}</p>
        <p>{{ school.district }}</p>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="filteredSchools.length === 0" lines="none">
      <ion-label class="ion-text-center">No schools found.</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
