<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>School Information App</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>This app helps users browse school information in Hong Kong.</p>
      <p>Data source: Education Bureau school location dataset.</p>
      <p>Developer: LIU Jiahong</p>
      <p>Email: s1389661@live.hkmu.edu.hk</p>
    </ion-card-content>
  </ion-card>
</ion-content>
