<ion-header [translucent]="true">
  <ion-toolbar color="default">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>{{ getTitle() }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Search Bar Area -->
  <ion-card color="light" class="ion-margin">
    <ion-card-header>
      <ion-card-title>{{ getHeroTitle() }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ getHeroSubtitle() }}</p>
    </ion-card-content>
    <ion-searchbar
      (click)="goToSearch()" placeholder="{{ getStartSearchText() }}"></ion-searchbar>
  </ion-card>

  <ion-card color="light">
    <ion-grid class="stats-grid">
      <ion-row>
        <ion-col *ngFor="let s of stats" size="4" class="ion-text-center">
          <div class="stat-box">
            <ion-icon [name]="s.icon" [color]="s.color"></ion-icon>
            <h3>{{ s.value }}</h3>
            <p>{{ getStatLabel(s) }}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <div class="section-header ion-padding">
    <h2>{{ getPopularDistrictsTitle() }}</h2>
    <p>{{ getExploreSubtitle() }}</p>
  </div>
  <ion-grid class="district-grid">
    <ion-row>
      <ion-col *ngFor="let d of districts" size="6" size-md="4">

        <div class="district-card" 
           [style.background-image]="'url(' + d.image + ')'"
           (click)="browseDistrict(d)">
        
        <div class="card-overlay">
          <ion-icon [name]="d.icon"></ion-icon>
          <h3>{{ getDistrictDisplayName(d) }}</h3>
        </div>
        
      </div>

      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
