<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>School Finder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Search Bar Area -->
<ion-searchbar placeholder="Click to search schools..." (click)="goToSearch()"></ion-searchbar>

  <div class="ion-padding">
    <h1>Welcome!</h1>
    <p>Home Page</p>
    
    <!-- Placeholder content for the main page -->
    <ion-card color="light">
      <ion-card-header>
        <ion-card-title>Dashboard</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        .............................
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>